fastapi>=0.109.0
uvicorn[standard]>=0.27.0
llama-index-core
llama-index-llms-groq
llama-index-embeddings-gemini
llama-index-vector-stores-pinecone
pinecone-client>=3.0.3
python-dotenv>=1.0.0
GitPython>=3.1.41
pydantic>=2.5.3
google-generativeai>=0.8.0
